/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
	text-align:center;
	margin:0 auto;
}

#title {
	padding-top:10px;
	padding-bottom:30px;
	
	h1 {
		font:normal 60px "Helvetica", sans-serif;
		margin-bottom:-10px;
	}
	
	h2 {
		font:bold 15px "Helvetica", sans-serif;
	}
}

#body {
	width:900px;
	margin:0 auto;
	text-align:left;
	padding-left:20px;
	padding-right:20px;
}

.paginatewrapper {
	text-align:center;
	margin:0 auto;
	padding-top:10px;
	padding-bottom:10px;
}

table {
 	border-collapse:collapse; 
	border:1px solid black;
	width:900px;
	margin-top:10px;
	
	th {
		background-color:#CCC;
	}
	
	th, td {
		border-right:1px solid black
	}
	
	td {
		padding-top:4px;
		padding-bottom:4px;
	}
	
	.list_line_even {
		background:#fff;
	}
	
	.list_line_odd {
		background:#eee;
	}
}

h1 {
	display:inline;
}

#newLink {
	float:right;
}