<h1>Listing users</h1>
<p id="notice"><%= notice %></p>
<div class="paginatewrapper"><%= will_paginate @posts %></div>
<table>
  <tr>
	<th>Name</th>
    <th>Username</th>
    <th>Last Login</th>
    <th>FUTURE</th>
  </tr>

<% @users.each do |user| %>
  <tr>
	<td><%= link_to user.name, edit_user_path(user) %></td>
    <td><%= user.username %></td>
    <td>LASTLOGIN</td>
    <td>FUTURE</td>
  </tr>
<% end %>
</table>