<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h2>Your Super Cart</h2>
<ul>
	<% @cart.line_items.each do |item| %>
		<% if item.product %>
			<li><%= item.quantity %> &times; <%= item.product.title %></li>
		<% end %>
	<% end %>
</ul>