body {
	background-color:#999;
	font-family:Helvetica,Arial,Verdana,sans-serif;
}

h1 {
	letter-spacing:-2px;
	font-size:25pt;
}

#titlesub {
	font-size:10pt;
	color:#888;
}

#main {
	background-color:#FFF;
	width:950px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid;
	position:relative;
	top:-8px;
}

#nav {
	background-color:#000;
	color:#FFF;
	height:35px;
	position:relative;
	top:-38px;
}

a {
	text-decoration:none;
	color:#FFF;
}

a:hover {
	color:#000;
}

ul.horizontal {
	padding-top:9px;
	list-style-type: none;
	position:relative;
	left:-30px;
}

.navitem {
	display:inline;
	padding-right:30px;
}

.navitem:hover {
	padding-top:5px;
	background-color:#888;
	color:#000;
	padding-bottom:5px;
}

#header {
	background-color:#DDD;
	position:relative;
	top:-22px;
	padding-left:10px;
	height:70px;
}

#content {
	padding-left:10px;
	position:relative;
	top:-50px;
}

#footer {
	clear:both;
	background-color:#EEE;
	height:30px;
}

#footertext {
	font-size:9pt;
	position:relative;
	top:5px;
}

#left {
	float:left;
	height:115px;
}

#right {
	float:right;
	background-color:#EEF;
	position:relative;
	top:-45px;
	width:340px;
	height:80px;
	margin-right:10px;
}
