body {
	background-color:#999;
	font-family:Helvetica,Arial,Verdana,sans-serif;
}

h1 {
	
}

h2 {
	
}

#titlesub {
	font-size:10pt;
	color:#888;
}

#main {
	background-color:#FFF;
	width:900px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid;
}

#nav {
	background-color:#000;
	color:#FFF;
}

a {
	text-decoration:none;
	color:#FFF;
}

ul.horizontal {
	list-style-type: none;
}

.navitem {
	display:inline;
	padding-right:30px;
}

.navitem:hover {
	background-color:#FFF;
	color:#000;
}

#header {
	background-color:#DDD;
}

#footer {
	background-color:#EEE;
}

#footertext {
	
}
