body {
	background-color:#999;
	font-family:Helvetica,Arial,Verdana,sans-serif;
}

h1 {
	
}

h2 {
	
}

h6 {
	
}

#main {
	background-color:#FFF;
}

#nav {
	background-color:#000;
	color:#FFF;
}

#navitem {
	
}

#navitem:hover {
	background-color:#FFF;
	color:#000;
}

#header {
	background-color:#DDD;
}

#footer {
	background-color:#EEE;
}

#footertext {
	
}
