- content_for :subtitles do
  \...not just for the country of Spain
- flash.each do |key, msg|
  = content_tag :div, msg, :id => key
= link_to image_tag('icons/arrow_left.png'), articles_path, :title => "Click to go back"
= link_to 'list all articles', articles_path, :title => "Click to go back"
%br/
%br/
%h1 Creating a New Article
%br/
%br/
= render :partial => 'form', :locals => { :edit => false }
